// RESET
@import "../bower_components/reset-scss/reset";

html, body {
  height: 100%;
  font-size: 100%;
}

// COLORS
$news-color: #921;
$sport-color: #ed0;
$celebrity-color: #ed3d7d;
$tv-color: #262626;


// CONTROL PANEL
$control-panel-font-size: 1rem;
.category-control-panel {
  height: 70px;
  padding-right: 20px;
}

// CONTROL PANEL - BUTTONS
.category-control-panel__buttons {
  display: block;
  float: left;
}

%category-control-panel__button {
  height: 50px;
  width: 100px;
  margin: 10px;
  font-size: $control-panel-font-size;
  cursor: pointer;
  &.active {
    background-color: white;
    border-color: white;
    cursor: default;
  }
}

.category-control-panel__news-button {
  @extend %category-control-panel__button;
  color: $news-color;
}

.category-control-panel__sport-button {
  @extend %category-control-panel__button;
  color: $sport-color;
}

.category-control-panel__celebrity-button {
  @extend %category-control-panel__button;
  color: $celebrity-color;
}

.category-control-panel__tv-button {
  @extend %category-control-panel__button;
  color: $tv-color;
}

// CONTROL PANEL - FILTER
.category-control-panel__filter {
  display: block;
  float: right;
  height: 50px;
  line-height: 70px;
}

.category-control-panel__filter-label {
  font-size: $control-panel-font-size;
}

.category-control-panel__filter-box {
  width: 300px;
  font-size: $control-panel-font-size;
}

// RESULTING ARTICLES
.resulting-articles {
  padding-left: 10px;
}

.resulting-article {
  display: block;
  margin: 5px;
  padding: 20px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  &:hover {
    color: red;
  }
}

.resulting-article__image {
  vertical-align: middle;
}

.resulting-article__title {
  line-height: 98px;
  padding-left: 40px;
  font-size: 2rem;
}


// CATEGORY SELECTIONS BUTTONS
.category-selection-buttons {
  height: 100%;
}

%category-selection-buttons__button {
  display: block;
  float: left;
  margin: 0;
  width: 50%;
  height: 50%;
  font-size: 3rem;
}

.category-selection-buttons__news-button {
  @extend %category-selection-buttons__button;
  color: $news-color;
}

.category-selection-buttons__sport-button {
  @extend %category-selection-buttons__button;
  color: $sport-color;
}

.category-selection-buttons__celebrity-button {
  @extend %category-selection-buttons__button;
  color: $celebrity-color;
}

.category-selection-buttons__tv-button {
  @extend %category-selection-buttons__button;
  color: $tv-color;
}